<div class="btn-box col-9 mx-auto">
<h1>Welcome to <i class="fa-solid fa-book"></i><strong>Bookers</strong>!!</h1>
<p>In <i class="fa-solid fa-book"></i><strong>Bookers</strong>,<br>you can share and exchange your opinions, inpressions, and emotions<br>about various books!</p>
</div>
<div class="btn-box col-8 mx-auto">
  <%= link_to "Log in", new_user_session_path, class:"btn btn-info btn-sm btn-block" %>
  <%= link_to "Sign up", new_user_registration_path, class:"btn btn-success btn-sm btn-block" %>
</div>
